In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [2]:
#Loading datset from CSV files - movies.csv and ratings.csv

movie_dataset = pd.read_csv('movies.csv')
movie_dataset['movieId'] = movie_dataset['movieId'].apply(pd.to_numeric)

ratings_dataset = pd.read_csv('ratings.csv')
movie_dataset.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
#Combining both tables- movies and ratings 

merge_data = pd.merge(ratings_dataset, movie_dataset, on='movieId')
merge_data.head(6)

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,851527569,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,849082742,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,835562174,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,846509384,Jumanji (1995),Adventure|Children|Fantasy
5,54,2,3.0,974918176,Jumanji (1995),Adventure|Children|Fantasy

In [4]:
# These columns are not required so, dropping Timestamp and Genre columns
columns = ['timestamp', 'genres']
data= merge_data.drop(columns, axis=1)
data.head(5)

   userId  movieId  rating           title
0       1        2     3.5  Jumanji (1995)
1       5        2     3.0  Jumanji (1995)
2      13        2     3.0  Jumanji (1995)
3      29        2     3.0  Jumanji (1995)
4      34        2     3.0  Jumanji (1995)

In [5]:
#Grouping the data on the basis of ratings and creating a new column for total count of ratings, 'TotalRatingCount'

rating =  data.dropna(axis = 0, subset = ['title'])
rating_count=(rating.groupby(by = ['title'])['rating'].count().reset_index())
rating_count = rating_count.rename(columns = {'rating': 'TotalRatingCount'})[['title', 'TotalRatingCount']]
    
rating_count.head()

                                               title  TotalRatingCount
0                   "Great Performances" Cats (1998)               155
1  #chicagoGirl: The Social Network Takes on a Di...                 3
2                                 $ (Dollars) (1971)                24
3                                    $5 a Day (2008)                39
4                                       $9.99 (2008)                55

In [6]:
#Merging the calculated total count with original data

final_dataset = rating.merge(rating_count, left_on = 'title', right_on = 'title', how = 'left')
final_dataset.head()

   userId  movieId  rating           title  TotalRatingCount
0       1        2     3.5  Jumanji (1995)             22243
1       5        2     3.0  Jumanji (1995)             22243
2      13        2     3.0  Jumanji (1995)             22243
3      29        2     3.0  Jumanji (1995)             22243
4      34        2     3.0  Jumanji (1995)             22243

In [7]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(rating_count['TotalRatingCount'].describe())

count   26729.000
mean      748.261
std      3086.673
min         1.000
25%         3.000
50%        18.000
75%       205.000
max     67310.000
Name: TotalRatingCount, dtype: float64

In [8]:
#Drop duplicate data

rating_data = final_dataset.drop_duplicates(['userId','title'])
rating_data.head(5)

   userId  movieId  rating           title  TotalRatingCount
0       1        2   3.500  Jumanji (1995)             22243
1       5        2   3.000  Jumanji (1995)             22243
2      13        2   3.000  Jumanji (1995)             22243
3      29        2   3.000  Jumanji (1995)             22243
4      34        2   3.000  Jumanji (1995)             22243

In [9]:
#Many movies have more than 50 rating, so limiting it to the top 1%
popularity_limit = 50
popular_movie= rating_data.query('TotalRatingCount >= @popularity_limit')
popular_movie.head()

   userId  movieId  rating           title  TotalRatingCount
0       1        2   3.500  Jumanji (1995)             22243
1       5        2   3.000  Jumanji (1995)             22243
2      13        2   3.000  Jumanji (1995)             22243
3      29        2   3.000  Jumanji (1995)             22243
4      34        2   3.000  Jumanji (1995)             22243

In [10]:
popular_movie.shape

(19847742, 5)

In [12]:
## Creating Pivot matrix from sparse matrix and filling missing values with zeros 

feature_matrix=popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
feature_matrix.head()

userId,1,2,3,4,5,6,7,8,9,10,...,138484,138485,138486,138487,138488,138489,138490,138491,138492,138493
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
$9.99 (2008),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'Hellboy': The Seeds of Creation (2004),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'Round Midnight (1986),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'Salem's Lot (2004),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [13]:
matrix_transpose = feature_matrix.T
matrix_transpose.shape

(138493, 10523)

In [14]:
#Creating scipy sparse matrix
from scipy.sparse import csr_matrix

moviefeature_matrix = csr_matrix(feature_matrix.values)

# Applying K Nearest Algorithm with Cosine similarity

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(moviefeature_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
feature_matrix.shape

(10523, 138493)

In [16]:
query_index = np.random.choice(feature_matrix.shape[0])
print(query_index)
query_index =2

5102

In [17]:
#Calculating distance using nearest neibhbor
distances, indices = model_knn.kneighbors(feature_matrix.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 7)

In [18]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(feature_matrix.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, feature_matrix.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 'Hellboy': The Seeds of Creation (2004):

1: 'Salem's Lot (2004), with distance of 0.9399856526332447:
2: Run Ronnie Run (2002), with distance of 0.9469909022691365:
3: Avengers, The (2012), with distance of 0.9536943656569585:
4: Abbott and Costello Meet Dr. Jekyll and Mr. Hyde (1953), with distance of 0.9566089577119974:
5: Batman: The Dark Knight Returns, Part 1 (2012), with distance of 0.9569720067227591:
6: Amazing Spider-Man, The (2012), with distance of 0.9575318541312836:

In [19]:
feature_matrix.shape

(10523, 138493)

In [20]:
# Applying SVD  and fitting model for dimensionality reduction

import sklearn
from sklearn.decomposition import TruncatedSVD

SVD_model = TruncatedSVD(n_components=12, random_state=17)
final_matrix = SVD_model.fit_transform(feature_matrix)
final_matrix.shape

(10523, 12)

In [21]:
# Calculating the Pearson’s R correlation coefficient

import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)
coefficient = np.corrcoef(final_matrix)
coefficient.shape

(10523, 10523)

In [24]:
# Generating movie recommendations

mv_title = feature_matrix.index
mv_title_list = list(mv_title)
mv_index = mv_title_list.index("Avengers, The (2012)")
print(mv_index)

706

In [25]:
result = coefficient[mv_index]
list(mv_title[(result < 1.0) & (result > 0.9)])

["'Hellboy': The Seeds of Creation (2004)",
 '(500) Days of Summer (2009)',
 '10,000 BC (2008)',
 '12 Years a Slave (2013)',
 '127 Hours (2010)',
 '13 (2010)',
 '2 Guns (2013)',
 '2012 (2009)',
 '21 (2008)',
 '21 Jump Street (2012)',
 '21 and Over (2013)',
 '22 Jump Street (2014)',
 '3 Idiots (2009)',
 '30 Days of Night: Dark Days (2010)',
 '30 Minutes or Less (2011)',
 '300: Rise of an Empire (2014)',
 '47 Ronin (2013)',
 '5 Centimeters per Second (Byôsoku 5 senchimêtoru) (2007)',
 '50/50 (2011)',
 '9 (2009)',
 'A-Team, The (2010)',
 'Abduction (2011)',
 'About Time (2013)',
 'Abraham Lincoln: Vampire Hunter (2012)',
 'Adjustment Bureau, The (2011)',
 'Adventureland (2009)',
 'Adventures of Tintin, The (2011)',
 'After Earth (2013)',
 'Agora (2009)',
 'Alan Partridge: Alpha Papa (2013)',
 'Alice in Wonderland (2010)',
 'All-Star Superman (2011)',
 'Alone in the Wilderness (2004)',
 'Amazing Spider-Man, The (2012)',
 'American Hustle (2013)',
 'American Pie Presents Beta House (American Pie 6: Beta House) (2007)',
 'American Pie Presents: The Book of Love (American Pie 7: The Book of Love) (2009)',
 'American Reunion (American Pie 4) (2012)',
 'American Sniper (2014)',
 'Anchorman 2: The Legend Continues (2013)',
 'Angels & Demons (2009)',
 'Another Earth (2011)',
 'Argo (2012)',
 'Art of Getting By, The (2011)',
 'Arthur (2011)',
 'Arthur Christmas (2011)',
 'Astro Boy (2009)',
 'Attack the Block (2011)',
 'Autómata (Automata) (2014)',
 'Avatar (2009)',
 'BURN-E (2008)',
 'Bad Teacher (2011)',
 'Bad Words (2013)',
 'Band of Brothers (2001)',
 'Batman Beyond: Return of the Joker (2000)',
 'Batman: Gotham Knight (2008)',
 'Batman: The Dark Knight Returns, Part 1 (2012)',
 'Batman: The Dark Knight Returns, Part 2 (2013)',
 'Batman: Under the Red Hood (2010)',
 'Batman: Year One (2011)',
 'Battle: Los Angeles (2011)',
 'Battleship (2012)',
 'Battlestar Galactica (2003)',
 'Battlestar Galactica: Razor (2007)',
 'Beautiful Creatures (2013)',
 'Before I Go to Sleep (2014)',
 'Best Offer, The (Migliore offerta, La) (2013)',
 'Big Hero 6 (2014)',
 'Big Year, The (2011)',
 'Birdman (2014)',
 'Black Dynamite (2009)',
 'Black Mirror (2011)',
 'Black Swan (2010)',
 'Blackfish (2013)',
 'Blended (2014)',
 'Bling Ring, The (2013)',
 'Blood and Bone (2009)',
 'Boat That Rocked, The (a.k.a. Pirate Radio) (2009)',
 'Bolt (2008)',
 'Book Thief, The (2013)',
 'Book of Eli, The (2010)',
 'Book of Life, The (2014)',
 'Boondock Saints II: All Saints Day, The (2009)',
 'Bourne Identity, The (1988)',
 'Bourne Legacy, The (2012)',
 'Boxtrolls, The (2014)',
 'Boy (2010)',
 'Boy in the Striped Pajamas, The (Boy in the Striped Pyjamas, The) (2008)',
 'Boyhood (2014)',
 'Brave (2012)',
 'Bridesmaids (2011)',
 'Brothers Bloom, The (2008)',
 'Brüno (Bruno) (2009)',
 'Buried (2010)',
 'Burke and Hare (2010)',
 'Butter (2011)',
 'Byzantium (2012)',
 'Cabin in the Woods, The (2012)',
 'Campaign, The (2012)',
 'Captain America: The First Avenger (2011)',
 'Captain America: The Winter Soldier (2014)',
 'Captain Phillips (2013)',
 'Carrie (2013)',
 'Cars 2 (2011)',
 'Cashback (2006)',
 'Cell 211 (Celda 211) (2009)',
 'Change-Up, The (2011)',
 'Changeling (2008)',
 'Chef (2014)',
 'Chocolate (2008)',
 'Christmas Carol, A (2009)',
 'Chronicle (2012)',
 'Chronicles of Narnia: The Voyage of the Dawn Treader, The (2010)',
 'City of Ember (2008)',
 'Clash of the Titans (2010)',
 'Cloud Atlas (2012)',
 'Cloudy with a Chance of Meatballs (2009)',
 'Cloudy with a Chance of Meatballs 2 (2013)',
 'Cloverfield (2008)',
 'Coherence (2013)',
 'Conan the Barbarian (2011)',
 'Conjuring, The (2013)',
 'Contagion (2011)',
 'Cop Out (2010)',
 'Coraline (2009)',
 'Cosmos (1980)',
 'Cowboy Bebop (1998)',
 'Cowboys & Aliens (2011)',
 'Crank: High Voltage (2009)',
 'Crazies, The (2010)',
 'Crazy, Stupid, Love. (2011)',
 'Croods, The (2013)',
 'Curious Case of Benjamin Button, The (2008)',
 'Dallas Buyers Club (2013)',
 'Dark Knight Rises, The (2012)',
 'Dark Knight, The (2008)',
 'Dark Shadows (2012)',
 'Dark Skies (2013)',
 'Darkest Hour, The (2011)',
 'Date Night (2010)',
 'Dawn of the Planet of the Apes (2014)',
 'Day & Night (2010)',
 'Day of the Doctor, The (2013)',
 'Day the Earth Stood Still, The (2008)',
 'Daybreakers (2010)',
 'Death Note 2: The Last Name (2006)',
 'Death Race (2008)',
 'Death Race 2 (2010)',
 'Death at a Funeral (2010)',
 'Defendor (2009)',
 'Delivery Man (2013)',
 'Despicable Me (2010)',
 'Despicable Me 2 (2013)',
 'Diary of a Wimpy Kid (2010)',
 'Diary of a Wimpy Kid: Rodrick Rules (2011)',
 'Dictator, The (2012)',
 'Dinner for Schmucks (2010)',
 'Disaster Movie (2008)',
 'Disconnect (2012)',
 'District 13: Ultimatum (Banlieue 13 - Ultimatum) (2009)',
 'District 9 (2009)',
 'Divergent (2014)',
 'Divide, The (2011)',
 'Django Unchained (2012)',
 'Don Jon (2013)',
 'Dorian Gray (2009)',
 "Dr. Horrible's Sing-Along Blog (2008)",
 "Dr. Seuss' The Lorax (2012)",
 'Dracula Untold (2014)',
 'Dragonball Evolution (2009)',
 'Dredd (2012)',
 'Drinking Buddies (2013)',
 'Drive (2011)',
 'Drive Angry (2011)',
 'Due Date (2010)',
 'Dumb and Dumber To (2014)',
 'Dylan Moran: Monster (2004)',
 'Eagle Eye (2008)',
 'Eagle, The (2011)',
 'Earth (2007)',
 'Earthlings (2006)',
 'Easy A (2010)',
 'Eddie Izzard: Dress to Kill (1999)',
 'Edge of Tomorrow (2014)',
 'Elite Squad: The Enemy Within (Tropa de Elite 2 - O Inimigo Agora É Outro) (2010)',
 'Elysium (2013)',
 "Empire of Dreams: The Story of the 'Star Wars' Trilogy (2004)",
 'End of Watch (2012)',
 "Ender's Game (2013)",
 'Epic (2013)',
 'Equalizer, The (2014)',
 'Escape Plan (2013)',
 'Europa Report (2013)',
 'Evangelion: 2.0 You Can (Not) Advance (Evangerion shin gekijôban: Ha) (2009)',
 'Evil Dead (2013)',
 'Exam (2009)',
 'Exodus: Gods and Kings (2014)',
 'Expendables 2, The (2012)',
 'Expendables 3, The (2014)',
 'Expendables, The (2010)',
 'Fall, The (2006)',
 "Family Guy Presents: It's a Trap (2010)",
 'Family, The (2013)',
 'Fanboys (2008)',
 'Fantastic Mr. Fox (2009)',
 'Fast & Furious (Fast and the Furious 4, The) (2009)',
 'Fast & Furious 6 (Fast and the Furious 6, The) (2013)',
 'Fast Five (Fast and the Furious 5, The) (2011)',
 'Fifty Shades of Grey (2015)',
 'Fighter, The (2010)',
 'Filth (2013)',
 'Fired Up (2009)',
 'First Time, The (2012)',
 'Five-Year Engagement, The (2012)',
 'Flipped (2010)',
 'Flowers of War, The (Jin líng shí san chai) (2011)',
 'For the Birds (2000)',
 'Forbidden Kingdom, The (2008)',
 'Four Lions (2010)',
 'Fourth Kind, The (2009)',
 'Frankenweenie (2012)',
 'Franklyn (2008)',
 'Freakonomics (2010)',
 'Frequently Asked Questions About Time Travel (2009)',
 'Friends with Benefits (2011)',
 'Fright Night (2011)',
 'From Up on Poppy Hill (Kokuriko-zaka kara) (2011)',
 'Frozen (2013)',
 'Fury (2014)',
 "Futurama: Bender's Game (2008)",
 'Futurama: Into the Wild Green Yonder (2009)',
 'Futurama: The Beast with a Billion Backs (2008)',
 'G.I. Joe: Retaliation (2013)',
 'G.I. Joe: The Rise of Cobra (2009)',
 'Gamer (2009)',
 'Gangster Squad (2013)',
 "Geri's Game (1997)",
 'Get Him to the Greek (2010)',
 'Get Smart (2008)',
 'Ghost Rider: Spirit of Vengeance (2012)',
 "Girl Who Kicked the Hornet's Nest, The (Luftslottet som sprängdes) (2009)",
 'Girl Who Played with Fire, The (Flickan som lekte med elden) (2009)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Girl with the Dragon Tattoo, The (Män som hatar kvinnor) (2009)',
 'Giver, The (2014)',
 'Gnomeo & Juliet (2011)',
 'God Bless America (2011)',
 'Godzilla (2014)',
 'Gone Girl (2014)',
 'Goon (2011)',
 'Gran Torino (2008)',
 'Grand Budapest Hotel, The (2014)',
 'Gravity (2013)',
 'Great Gatsby, The (2013)',
 'Green Hornet, The (2011)',
 'Green Lantern (2011)',
 'Green Lantern: First Flight (2009)',
 'Grey, The (2012)',
 'Grown Ups (2010)',
 'Grown Ups 2 (2013)',
 'Guardians of the Galaxy (2014)',
 'Guest, The (2014)',
 "Gulliver's Travels (2010)",
 "Hachiko: A Dog's Story (a.k.a. Hachi: A Dog's Tale) (2009)",
 'Hall Pass (2011)',
 'Hancock (2008)',
 'Hangover Part II, The (2011)',
 'Hangover Part III, The (2013)',
 'Hangover, The (2009)',
 'Hanna (2011)',
 'Hansel & Gretel: Witch Hunters (2013)',
 'Happy Feet Two (2011)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'Hellboy II: The Golden Army (2008)',
 'Help, The (2011)',
 'Her (2013)',
 'Hercules (2014)',
 'Here Comes the Boom (2012)',
 'Hit and Run (Hit & Run) (2012)',
 'Hitch Hikers Guide to the Galaxy, The (1981)',
 'Hobbit: An Unexpected Journey, The (2012)',
 'Hobbit: The Desolation of Smaug, The (2013)',
 'Home (2009)',
 'Horns (2014)',
 'Horrible Bosses (2011)',
 'Horrible Bosses 2 (2014)',
 'Horton Hears a Who! (2008)',
 'Host, The (2013)',
 'Hot Tub Time Machine (2010)',
 'Hotel Transylvania (2012)',
 'How I Live Now (2013)',
 'How to Lose Friends & Alienate People (2008)',
 'How to Train Your Dragon (2010)',
 'How to Train Your Dragon 2 (2014)',
 'Hugo (2011)',
 'Hunger Games, The (2012)',
 'Hunger Games: Catching Fire, The (2013)',
 'Hurt Locker, The (2008)',
 'I Am Legend (2007)',
 'I Am Number Four (2011)',
 'I Love You Phillip Morris (2009)',
 'I Love You, Man (2009)',
 'I Origins (2014)',
 'I, Frankenstein (2014)',
 'Ice Age 4: Continental Drift (2012)',
 'Ice Age: Dawn of the Dinosaurs (2009)',
 'Identity Thief (2013)',
 'Illusionist, The (2006)',
 'Imaginarium of Doctor Parnassus, The (2009)',
 'Immortals (2011)',
 'In Time (2011)',
 'Inbetweeners Movie, The (2011)',
 'Inception (2010)',
 'Incredible Burt Wonderstone, The (2013)',
 'Incredible Hulk, The (2008)',
 'Indiana Jones and the Kingdom of the Crystal Skull (2008)',
 'Indie Game: The Movie (2012)',
 'Inglorious Bastards (Quel maledetto treno blindato) (1978)',
 'Inglourious Basterds (2009)',
 'Ink (2009)',
 'Inside Job (2010)',
 'Insidious (2010)',
 'Insidious: Chapter 2 (2013)',
 'Internship, The (2013)',
 'Interstellar (2014)',
 'Intouchables (2011)',
 'Invention of Lying, The (2009)',
 'Ip Man (2008)',
 'Ip Man 2 (2010)',
 'Iron Man (2008)',
 'Iron Man 2 (2010)',
 'Iron Man 3 (2013)',
 'Iron Sky (2012)',
 "It's Kind of a Funny Story (2010)",
 'Jack Reacher (2012)',
 'Jack and Jill (2011)',
 'Jack the Giant Slayer (2013)',
 'Jack-Jack Attack (2005)',
 'Jackass 3D (2010)',
 'Jackass Presents: Bad Grandpa (2013)',
 'Jiro Dreams of Sushi (2011)',
 'Jobs (2013)',
 'John Carter (2012)',
 'John Dies at the End (2012)',
 'John Wick (2014)',
 'Johnny English Reborn (2011)',
 'Jonah Hex (2010)',
 'Journey 2: The Mysterious Island (2012)',
 'Jumper (2008)',
 'Jupiter Ascending (2015)',
 'Justice League: Doom (2012) ',
 'Justice League: The Flashpoint Paradox (2013)',
 'Justice League: War (2014)',
 'Karate Kid, The (2010)',
 'Kick-Ass (2010)',
 'Kick-Ass 2 (2013)',
 "King's Speech, The (2010)",
 'Kings of Summer, The (2013)',
 'Kingsman: The Secret Service (2015)',
 'Knight and Day (2010)',
 'Knowing (2009)',
 'Kon-Tiki (2012)',
 'Kung Fu Panda (2008)',
 'Kung Fu Panda 2 (2011)',
 'Kung Fu Panda: Secrets of the Furious Five (2008)',
 'La Luna (2011)',
 'Land of the Lost (2009)',
 'Last Airbender, The (2010)',
 'Last Days on Mars, The (2013)',
 'Last Vegas (2013)',
 'Law Abiding Citizen (2009)',
 'Lawless (2012)',
 "Legend of the Guardians: The Owls of Ga'Hoole (2010)",
 'Legion (2010)',
 'Let Me In (2010)',
 "Let's Be Cops (2014)",
 'Life in a Day (2011)',
 'Life of Pi (2012)',
 'Lifted (2006)',
 'Limitless (2011)',
 'Little Fockers (2010)',
 'Lockout (2012)',
 'London Boulevard (2010)',
 'Lone Ranger, The (2013)',
 'Looper (2012)',
 'Losers, The (2010)',
 'Louis C.K.: Chewed Up (2008)',
 'Louis C.K.: Hilarious (2010)',
 'Louis C.K.: Live at the Beacon Theater (2011)',
 'Louis C.K.: Oh My God (2013)',
 'Love and Other Drugs (2010)',
 'Lovely Bones, The (2009)',
 'Lucy (2014)',
 'MacGruber (2010)',
 'Machete (2010)',
 'Machete Kills (Machete 2) (2013)',
 'Machine, The (2013)',
 "Madagascar 3: Europe's Most Wanted (2012)",
 'Madagascar: Escape 2 Africa (2008)',
 'Magic Mike (2012)',
 'Maleficent (2014)',
 'Mama (2013)',
 'Man from Earth, The (2007)',
 'Man from Nowhere, The (Ajeossi) (2010)',
 'Man of Steel (2013)',
 'Man on a Ledge (2012)',
 'Man with the Iron Fists, The (2012)',
 'Mars Needs Moms (2011)',
 'Maze Runner, The (2014)',
 'Mechanic, The (2011)',
 'Megamind (2010)',
 'Men Who Stare at Goats, The (2009)',
 'Men in Black III (M.III.B.) (M.I.B.³) (2012)',
 'Midnight in Paris (2011)',
 'Million Ways to Die in the West, A (2014)',
 'Mission: Impossible - Ghost Protocol (2011)',
 'Misérables, Les (2012)',
 'Moneyball (2011)',
 'Monsters University (2013)',
 'Monsters vs. Aliens (2009)',
 'Moon (2009)',
 'Moonrise Kingdom (2012)',
 'Mortal Instruments: City of Bones, The (2013)',
 'Movie 43 (2013)',
 'Mr. Nobody (2009)',
 'Mr. Peabody & Sherman (2014)',
 "Mr. Popper's Penguins (2011)",
 'Mulan (2009)',
 'Muppets Most Wanted (2014)',
 'Muppets, The (2011)',
 'My Name is Khan (2010)',
 'Need for Speed (2014)',
 'Neighbors (2014)',
 'Never Back Down (2008)',
 'Next Three Days, The (2010)',
 'Night at the Museum: Battle of the Smithsonian (2009)',
 'Night at the Museum: Secret of the Tomb (2014)',
 'Nightcrawler (2014)',
 'Ninja Assassin (2009)',
 'No Strings Attached (2011)',
 'Noah (2014)',
 'Non-Stop (2014)',
 'Now You See Me (2013)',
 'Objectified (2009)',
 'Oblivion (2013)',
 'Oceans (Océans) (2009)',
 'Odd Life of Timothy Green, The (2012)',
 'Odd Thomas (2013)',
 'Oldboy (2013)',
 'Olympus Has Fallen (2013)',
 'One Man Band (2005)',
 'Other Guys, The (2010)',
 'Other Woman, The (2014)',
 'Our Idiot Brother (2011)',
 'Oz the Great and Powerful (2013)',
 'Pacific Rim (2013)',
 'Paddington (2014)',
 'Pain & Gain (2013)',
 'Pandorum (2009)',
 'Paper Man (2009)',
 'Paperman (2012)',
 'ParaNorman (2012)',
 'Paranormal Activity (2009)',
 'Paranormal Activity 2 (2010)',
 'Paranormal Activity 3 (2011)',
 'Partly Cloudy (2009)',
 'Paul (2011)',
 'Penguins of Madagascar (2014)',
 'Percy Jackson & the Olympians: The Lightning Thief (2010)',
 'Percy Jackson: Sea of Monsters (2013)',
 'Perfect Host, The (2010)',
 'Perfect Sense (2011)',
 'Perks of Being a Wallflower, The (2012)',
 'Pillars of the Earth, The (2010)',
 'Pink Panther 2, The (2009)',
 'Pirates of the Caribbean: On Stranger Tides (2011)',
 'Pirates! Band of Misfits, The (2012)',
 'Pitch Perfect (2012)',
 'Pixar Story, The (2007)',
 'Planes (2013)',
 'Planet 51 (2009)',
 'Pokemon: The Movie 2000 (2000)',
 'Pompeii (2014)',
 'Predators (2010)',
 'Predestination (2014)',
 'Premium Rush (2012)',
 'Prestige, The (2006)',
 'Presto (2008)',
 'Priest (2011)',
 'Prince of Persia: The Sands of Time (2010)',
 'Prisoners (2013)',
 'Project X (2012)',
 'Prometheus (2012)',
 'Purge, The (2013)',
 'Purge: Anarchy, The (2014)',
 'Push (2009)',
 'Puss in Boots (2011)',
 'Quantum of Solace (2008)',
 'Rabbit Without Ears (Keinohrhasen) (2007)',
 'Raiders of the Lost Ark: The Adaptation (1989)',
 'Rango (2011)',
 'Ratatouille (2007)',
 'Raven, The (2012)',
 'Real Steel (2011)',
 'Red (2010)',
 'Red 2 (2013)',
 'Red Riding Hood (2011)',
 'Repo Men (2010)',
 'Resident Evil: Afterlife (2010)',
 'Resident Evil: Retribution (2012)',
 'Riddick (2013)',
 'Ride Along (2014)',
 'Rio (2011)',
 'Rio 2 (2014)',
 'Rise of the Guardians (2012)',
 'Rise of the Planet of the Apes (2011)',
 'Road, The (2009)',
 'Robin Hood (2010)',
 'RoboCop (2014)',
 'Robot & Frank (2012)',
 'Rock of Ages (2012)',
 'RocknRolla (2008)',
 'Rocky VI (1986) ',
 'Role Models (2008)',
 'Ruby Sparks (2012)',
 'Rum Diary, The (2011)',
 'Rush (2013)',
 'Safety Not Guaranteed (2012)',
 'Salt (2010)',
 'Samsara (2011)',
 'Scary Movie 5 (Scary MoVie) (2013)',
 'Scott Pilgrim vs. the World (2010)',
 'Season of the Witch (2011)',
 'Secret Life of Walter Mitty, The (2013)',
 'Secret World of Arrietty, The (Kari-gurashi no Arietti) (2010)',
 'Seeking a Friend for the End of the World (2012)',
 'Senna (2010)',
 'Seven Pounds (2008)',
 'Seven Psychopaths (2012)',
 'Sex Drive (2008)',
 'Sex Tape (2014)',
 'Sharknado (2013)',
 "She's Out of My League (2010)",
 'Sherlock Holmes (2009)',
 'Sherlock Holmes (2010)',
 'Sherlock Holmes: A Game of Shadows (2011)',
 'Shinobi: Heart Under Blade (2005)',
 'Short Term 12 (2013)',
 'Shrek Forever After (a.k.a. Shrek: The Final Chapter) (2010)',
 'Shutter Island (2010)',
 'Side Effects (2013)',
 'Signal, The (2014)',
 'Silent Hill: Revelation 3D (2012)',
 'Silver Linings Playbook (2012)',
 'Sin City: A Dame to Kill For (2014)',
 'Sinister (2012)',
 'Skyfall (2012)',
 'Skyline (2010)',
 "Slammin' Salmon, The (2009)",
 'Slumdog Millionaire (2008)',
 'Smurfs, The (2011)',
 'Snow White and the Huntsman (2012)',
 'Snowman, The (1982)',
 'Snowpiercer (2013)',
 'Social Network, The (2010)',
 'Solomon Kane (2009)',
 "Sorcerer's Apprentice, The (2010)",
 'Source Code (2011)',
 'South Park: Imaginationland (2008)',
 'Special (2006)',
 'Speed Racer (2008)',
 'Spirit, The (2008)',
 'Splice (2009)',
 'Spy Kids: All the Time in the World in 4D (2011)',
 'Star Trek (2009)',
 'Star Trek Into Darkness (2013)',
 'Star Wars: The Clone Wars (2008)',
 'Stardust (2007)',
 'Sucker Punch (2011)',
 'Summer Wars (Samâ wôzu) (2009)',
 'Super (2010)',
 'Super 8 (2011)',
 'Superman/Batman: Apocalypse (2010)',
 'Superman/Batman: Public Enemies (2009)',
 'Surrogates (2009)',
 'TPB AFK: The Pirate Bay Away from Keyboard (2013)',
 'Take Me Home Tonight (2011)',
 'Taken (2008)',
 'Taken 2 (2012)',
 'Taken 3 (2015)',
 'Tangled (2010)',
 'Tangled Ever After (2012)',
 'Ted (2012)',
 'Teenage Mutant Ninja Turtles (2014)',
 'Tekken (2010)',
 'Terminator Salvation (2009)',
 'That Awkward Moment (2014)',
 'The Amazing Spider-Man 2 (2014)',
 'The Butterfly Effect 2 (2006)',
 'The Butterfly Effect 3: Revelations (2009)',
 'The Fault in Our Stars (2014)',
 'The Hobbit: The Battle of the Five Armies (2014)',
 'The Hunger Games: Mockingjay - Part 1 (2014)',
 'The Imitation Game (2014)',
 'The Interview (2014)',
 'The Lego Movie (2014)',
 'The Raid 2: Berandal (2014)',
 'The Raid: Redemption (2011)',
 'Theory of Everything, The (2014)',
 'Thing, The (2011)',
 'This Is the End (2013)',
 'This Means War (2012)',
 'Thor (2011)',
 'Thor: The Dark World (2013)',
 'Thousand Words, A (2012)',
 'Three Musketeers, The (2011)',
 "Time Traveler's Wife, The (2009)",
 'Tomorrow, When the War Began (2010)',
 'Total Recall (2012)',
 'Tourist, The (2010)',
 'Tower Heist (2011)',
 'Town, The (2010)',
 'Toy Story 3 (2010)',
 'Trance (2013)',
 'Transcendence (2014)',
 'Transformers: Age of Extinction (2014)',
 'Transformers: Dark of the Moon (2011)',
 'Transformers: Revenge of the Fallen (2009)',
 'Transporter 3 (2008)',
 'Troll Hunter, The (Trolljegeren) (2010)',
 'Tron: Legacy (2010)',
 'Tropic Thunder (2008)',
 'True Grit (2010)',
 'Tucker & Dale vs Evil (2010)',
 'Turbo (2013)',
 'Twilight (2008)',
 'Twilight Saga: Breaking Dawn - Part 1, The (2011)',
 'Twilight Saga: Breaking Dawn - Part 2, The (2012)',
 'Twilight Saga: Eclipse, The (2010)',
 'Twilight Saga: New Moon, The (2009)',
 'Underworld: Awakening (2012)',
 'Underworld: Rise of the Lycans (2009)',
 'Union: The Business Behind Getting High, The (2007)',
 'Unknown (2011)',
 'Up (2009)',
 'Up in the Air (2009)',
 'Upside Down (2012)',
 'Vampires Suck (2010)',
 'Veronica Mars (2014)',
 'Very Harold & Kumar 3D Christmas, A (2011)',
 'WALL·E (2008)',
 'Wanted (2008)',
 'Wanted (2009)',
 'Warlords, The (Tau ming chong) (2007)',
 'Warm Bodies (2013)',
 'Warrior (2011)',
 "Warrior's Way, The (2010)",
 'Watch, The (2012)',
 'Watchmen (2009)',
 'Watchmen: Tales of the Black Freighter (2009)',
 'Wave, The (Welle, Die) (2008)',
 'Way, Way Back, The (2013)',
 "We're the Millers (2013)",
 "Welcome to the Sticks (Bienvenue chez les Ch'tis) (2008)",
 'What We Do in the Shadows (2014)',
 'Where the Wild Things Are (2009)',
 'Whip It (2009)',
 'Whiplash (2014)',
 'White House Down (2013)',
 'Wild Target (2010)',
 'Wind Rises, The (Kaze tachinu) (2013)',